body {
  height: 100vh;
  background-color: #245060;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#ext {
  position: absolute;
  left: -900px;
}

#int {
  position: absolute;
  /* left: -900px; */
  left: 615px;
  z-index: 1;
  opacity: 0;
}

#becode {
  position: absolute;
  left: 795px;
  top: 230px;
  z-index: 2;
  opacity: 0;
}
